.navbar {
    height: 70px;
    background: #18122b;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 8%;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);

    position: sticky;
    top: 0;
    z-index: 1000;
}


/* Logo */

.navbar-brand {
    color: white;
    font-size: 22px;
    font-weight: bold;
}


/* Navigation Links */

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;

    padding: 10px 18px;

    border-radius: 8px;

    font-size: 15px;
    font-weight: 600;

    transition: 0.3s;
}

.nav-links a:hover {
    background: #7b1fa2;
    transform: translateY(-2px);
}


/* Mobile */

@media (max-width: 600px) {

    .navbar {
        padding: 0 15px;
    }

    .navbar-brand {
        font-size: 18px;
    }

    .nav-links {
        gap: 2px;
    }

    .nav-links a {
        padding: 8px;
        font-size: 13px;
    }
}
